.banner {
  height: 448px;
  color: #fff;
  object-fit: contain;
}

@media (min-width: 1500px) {
  .banner {
    position: relative;
    height: 600px;
  }

  .banner--fadeBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40rem;
  }
}

@media (max-width: 768px) {
  .banner__contents {
    width: min-content;
    padding-left: 2.3rem;
    margin-left: 0px;
  }

  .banner__description {
    width: auto;
    font-size: 0.8rem;
  }

  .info {
    padding-right: 1.2rem;
  }

  .space {
    margin-left: 6px;
  }

  .banner_button {
    font-size: 0.8rem;
    border-radius: 4px;
  }
}

.banner__contents {
  height: 190px;
  margin-left: 40px;
  padding-top: 140px;
}

.banner__title {
  padding-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 800;
}

.banner__description {
  width: 45rem;
  max-width: 400px;
  height: 80px;
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 500;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__buttons {
  display: flex;
}

.banner__button {
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
}

.banner__button:hover {
  color: #000;
  background-color: rgba(170, 170, 170, 0.9);
  transition: all 0.2s;
}

.play {
  background-color: white;
  color: black;
}
